{{message}}
<form action="/blog{{editRoute}}" method="POST" >
  <label>Title:</label>
  <input type="text" name="title" value="{{title}}">
  <br>
  <br>
  <label>Content:</label>
  <textarea name="content" cols="30" rows="10">{{content}}</textarea>
  <br>
  <br>
  <input type="submit">
</form>

<a href="/blog/{{id}}">Return to view blog post</a>